* {
    box-sizing: border-box;
}
#app {
    background-image: url(/FileFiirstProject/img/hinh-nen-sieu-nhan-4k.jpg);
    background-position: center center;
    background-size: cover;
}
.text-center {
    text-align: center;
}

.healthbar {
    /* width: 80%; */
    height: 40px;
    background-color: #eee;
    /* margin: auto; */
    transition: width 500ms;
}

.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
}

.log ul .player-turn {
    color: blue;
    background-color: #e4e8ff;
}

.log ul .monster-turn {
    color: red;
    background-color: #ffc0c1;
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#start-game {
    background-color: #aaffb0;
}

#start-game:hover {
    background-color: #76ff7e;
}

#attack {
    background-color: #ff7367;
}

#attack:hover {
    background-color: #ff3f43;
}

#special-attack {
    background-color: #807e7c;
}

.special_attack_active {
    background-color: #ffaf4f;
}

#heal {
    background-color: #aaffb0;
}

#heal:hover {
    background-color: #76ff7e;
}

#give-up {
    background-color: #ffffff;
}

#give-up:hover {
    background-color: #c7c7c7;
}

.praent {
    position: relative;
}

#minusBlood {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #ff3f43;
    padding: 8px 10px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    border-top-left-radius: 5px;
    border: transparent;
    color: #aaffb0;
    animation: fadeinBlood 0.4s;
    -webkit-animation: fadeinBlood 0.4s;
}

#healing {
    position: absolute;
    right: 0;
    background-color: #76ff7e;
    padding: 8px 10px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    border-top-left-radius: 5px;
    border: transparent;
    color: #0d0e0d;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.healing {
    display: none;
}

#minusBlood::after {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    bottom: -5px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #ff3f43;
    transform: rotate(40deg);
}

.img_power {
    left: 0;
}

  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0px; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0px; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeinBlood {
    from {top: 50px; opacity: 0;}
    to {top: 20px; opacity: 1;}
}
  
@keyframes fadeinBlood {
    from {top: 50px; opacity: 0;}
    to {top: 20px; opacity: 1;}
}

.specialSkill {
    position: absolute;
    left: 0;
    z-index: 1;
    animation: videos 3s linear;
    display: none;
}


.video {
    position: absolute;
    top: 0;
    width: 1000px;
    opacity: 0.7;
    animation: videos 3s linear;
}

.activeVideos {
    opacity: 1;
}

#hexagon {
    --blur: 5;
    width: 40px;
    height: 35px;
    background: #a0bcde;
    position: relative;
    top: 200px;
    animation: blow 0.9s linear;
    z-index: 1;
    filter: blur(3px);
}

.blows {
    display: none;
}

.active{
    display: block;
}

.activeBlows {
    display: block;
}

#hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #a0bcde;
    filter: blur(3px);

}

#hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    filter: blur(3px);
    border-top: 10px solid #a0bcde;
}

@keyframes blow {
    0% { 
        left: -50px; 
        opacity: 0;
    }
    25% {
        left: 100px; 
        opacity: 1;
    }
    50% { 
        right: 200px;
        opacity: 1;
    }
    75% { 
        right: -150px;
        opacity: 1;
    }
    100%{
        right: -350px;
        opacity: 1;
    }
}

@keyframes videos {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

